<footer>
    <div id="back-to-top" class="flex faint">
        <p>&uarr;</p>
        <p>BACK TO TOP</p>
    </div>
    <div class="footer-links flex">
        <div>
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo amet architecto voluptatum suscipit molestiae accusantium. Odit magnam blanditiis quo a.</p>
        </div>
        <div>
            <a href="">Home</a>
            <a href="">Laptops</a>
            <a href="">Desktop Computers</a>
            <a href="">Computer Accessories</a>
            <a href="">Office Supplies</a>
        </div>
        <div>
            <a href="">About us</a>
            <a href="">Return Policy</a>
            <a href="">Terms & Conditions</a>
        </div>
        <div>
            <h3>Join us on</h3>
            <a href="">Facebook</a>
            <a href="">Instagram</a>
            <a href="">Whatsapp</a>
        </div>
    </div>
    <div id="copyright" class="flex faint copyright">
        &copy;2022. Designed and developed by&nbsp; <a href=""> KipchirchirDev</a>. 
    </div>
</footer>
<script>
    const scrollToTop = ()=>{
        window.scroll({top: 0, left: 0, behavior: 'smooth'});
    }
    document.getElementById('back-to-top').addEventListener('click', scrollToTop)
    let scrollPos
    window.onscroll = () => {
        scrollPos = window.scrollTop
        localStorage.setItem("scrollPos", scrollPos)
    }
    document.addEventListener("DOMContentLoaded", (e) => {
        scrollPos = localStorage.getItem("scrollPos")
        window.scrollTo(0, scrollPos)
    })
    
</script>
</body>
</html>