
<div class="cta-running-add">
    <p>Get the latest offers</p>
    <p>Call us today</p>
    <p>Send us mail</p>

</div>
<nav class="main-nav">
    <div class="main-logo">
        <a href="/"><img src="/images/logo.svg" alt=""></a>
    </div> 
    <div>
        <form action="">
            <input type="text" placeholder="Search" name="search-term" id="search-term" class="search-term"/>
            <input type="submit" value="Search"> 
        </form>   
    </div>
    <div class="flex nav-group">
        <a href="/reg">
            <div class="flex"> 
                <img src="/images/icons/account.svg" alt="">
                Account
            </div>
        </a>
        <div class="flex"><img src="/images/icons/cart.svg" alt=""> </div>
        <%if(locals.isLoggedIn){%>
            <a class="logout-nav" href="/logout">Log Out</a>
        <%}%>
    </div>
</nav>
