
<div class="cta-running-add">
    <p>Get the latest offers</p>
    <p>Call us today</p>
    <p>Send us mail</p>

</div>
<nav class="main-nav">
    <div class="main-logo">
        <a href="/"><img src="/images/logo.svg" alt=""></a>
    </div> 
    <div>
        <form action="/search" method="post">
            <input type="text" placeholder="Search" name="searchterm" id="search-term" class="search-term"/>
            <input type="submit" value="Search"> 
        </form>   
    </div>
    <div class="flex nav-group">
        <a href="/reg">
            <div class="flex"> 
                <img src="/images/icons/account.svg" alt="">
                Account
            </div>
        </a>
        <div class="flex cart-container">
            <img src="/images/icons/cart.svg" alt="" id="cart-icon"> 
            <%if(locals.isLoggedIn){%>
        
                <%let userCart = cart.filter(cartItem=>cartItem.userId===locals.userId)%>
                <p class="cart-count"><%=userCart.length%></p>
                <div class="cart hide" id="cart">
                    <h3 style="text-align: center;">Your cart</h3> 
                    <form class="clear-cart" action="/clear-cart" method="post">
                        <input type="submit" value="REMOVE ALL">
                    </form>
                    <%userCart.forEach(cartItem=>{%>
                    <form action="/remove-from-cart/<%=cartItem.id%>" method="post">
                        <a href="/product/<%=cartItem.productId%>" class="cart-item-name">
                            <%=cartItem.productName%>
                        </a>
                        <input class="remove-from-cart" type="submit" value="X">
                    </form>
                    <%})%>

                    <a href="/profile"> <div class="checkout-btn">CHECKOUT</div> </a>
                    
                </div>
               
            <%}%>
            
        </div>
        <%if(locals.isLoggedIn){%>
            <a class="logout-nav" href="/logout">Log Out</a>
        <%}%>
    </div>
</nav>

<script>
    document.getElementById('cart-icon').addEventListener('click',()=>{
        document.getElementById('cart').classList.toggle('hide')
    })
</script>

