<%- include('./partials/header')%>
<%- include('./partials/nav')%>
<div class="main-container">
    <section class="error-page">
        <p class="error-message">Page Does not Exist</p>
        <img src="/images/404.svg" alt="">
    </section>
</div>
<%- include('./partials/footer')%>