<%- include('./partials/header')%>
<nav class="admin-nav">
    <h1>
        Maya Computers Administrator Panel
    </h1>
</nav>
<div class="main-container admin-main">
    
</div>
<%- include('./partials/footer')%>