@font-face {
    font-family: NetflixFont;
    src: url(NetflixSansRegular.ttf);
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: NetflixFont;
  }
  :root{
      --primary-color: #d66c27;
      --secondary-color: #ea2129;
      --pri-text-color: #f7f7f7;
      --sec-text-color: #000;
      --grayish-color: #adadad;
      --green-color: #09a609;
  }
  body{
    background-color: var(--pri-text-color);
    padding-top: 100px;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  a:active{
    text-decoration: none;
  }
  section h3{

    text-align: center;
  }
  .main-container{
    padding: 0 50px;
    margin-bottom: 2rem;
  }
  .flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hide{
    display: none;
  }
  .hide-for-small{
    display: none;
  }




/* *************MAIN-NAV*********** */
.cta-running-add{
    background-color: var(--secondary-color);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 30px;
    color: var(--pri-text-color);
    gap: 1rem;  
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.main-nav{
  display: flex;
  height: 40px;
  padding: 0 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--sec-text-color);
  font-size: 1.2rem;
  border-bottom: 1px solid #e5e4e4;
  box-shadow: 0 0 2px  #adadad;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 1001;
  background-color: var(--pri-text-color);
}
.main-nav .main-logo{
  height: 100%;
}
.main-nav .main-logo img{
  height: 100%;
  background-color: var(--primary-color);
}
.main-nav .nav-group{
  gap: 2rem;
}
.main-nav .nav-group img{
  margin-right: 1rem;
}
.main-nav .nav-group .logout-nav{
  font-size: 1rem;
}
.main-nav .cart-container{
  position: relative;
  cursor: pointer;
}
.main-nav .cart-container .cart-count{
  position: absolute;
  top: -6px;
  right: 3px;
  background-color: var(--green-color);
  color: var(--pri-text-color);
  font-size: .8rem;
  width: .8rem;
  border-radius: 50%;
  text-align: center;
}
.main-nav .cart-container .cart{
  position: absolute;
  /* height: 300px; */
  background-color: rgba(9, 165, 9, .9);
  color: var(--pri-text-color);
  top: 100%;
  right: 100%;
  padding: 10px;
  min-width: 200px;
}
.main-nav .cart-container .cart form{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 5px;
}

.main-nav .cart-container .cart form .cart-item-name:hover{
  text-decoration: underline;
  
}


.main-nav .cart-container .checkout-btn{
  padding: 10px;
  text-align: center;
  background-color: var(--primary-color);
}
.main-nav .cart-container .remove-from-cart{
  padding: 0 10px;
  transition: all .5s ease-in-out;
}
.main-nav .cart-container .remove-from-cart:hover{
  transform:  scale(1.2);
  color: var(--secondary-color);
  
}


/* ************SHOWCASE ******** */
/* Index page */
.show-case{
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  gap: 20px;
  /* height: 50vh; */
}
.show-case .show-item{
  min-height: 300px;
  height: 50vh;  
}
.show-case .show-case-nav{
  background-color: white;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.show-case .show-case-nav li{
  list-style: none;
  padding-left: 2rem;
}
.show-case-content{
  position: relative;
}
.show-case-content .slide{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: none;
  transition: all 0.5s ease-in-out;
}
.show-case-content .showing {
  display: flex;
  z-index: 1;
  transform: none;
  opacity: 1;
}
.show-case-content .slide img{
  height: 100%;
  width: 32%;
  object-fit:fill; 
}
.show-case-cta{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.show-case-cta a{
  background-color: var(--primary-color);
  color: var(--pri-text-color);
  width: 80%;
  text-decoration: none;
  display: flex;
  padding: 7px;
}
.show-case-cta a img{
  margin-right: .6rem;
  height: 1.33rem;
}




/* ************PRODUCTS******** */
.products{
  padding: .7rem;
  gap: 1.3rem;
  flex-direction: row !important; 
  justify-content: space-between;
  flex-wrap:wrap ;

  /* under con */
}
.products .product{
  position: relative;
  padding-bottom: 2px;
  flex-direction: column;
  width: 200px;
  height: 300px;
  align-items: flex-start;
  transition: all .3s ease-in-out;
}
.products .product:hover{
 
  transform: scale(1.025);
}
.products .product .product-img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 170px;
  width: 100%;
}
.products .product .product-img img{
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.products .product .name{
  margin-top: 150px;
}
.products .product p{
  font-size: .9rem;
  padding: 0 5px;
}
.products .product .ratings{
  
  flex-direction: row;
  flex-wrap: nowrap;
  color: var(--grayish-color);
  justify-content: space-between;
}
.products .product .add-to-cart{
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--pri-text-color);
}
.products .product .add-to-cart-link input{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.products .product .add-to-cart:hover{
  background-color: var(--green-color);
}
.products .view-more-btn{
  flex-direction: column;

}
.products .view-more-btn a,
.products .load-more-btn a{
  text-decoration: none;
  text-align: center;
  color: var(--secondary-color);
  transition: all .4s ease-in-out;
}
.products .view-more-btn a:hover,
.products .load-more-btn a:hover{
  transform: scale(1.15);
  color: var(--primary-color);
  /* background-color: var(--secondary-color); */
}



/* ********LOgIN MODAL */
.login-modal{
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: rgba(0,0,0,0.6);
}
.login-modal-content{
  width: 50%;
  font-size: 1.2rem;
  text-align: center;
  margin: 20% auto;
  background-color: var(--pri-text-color);
  color: var(--sec-text-color);
  padding: 20px;
}
.login-modal-content button{
  margin: 20px;
  padding: 5px 10px;
  color: var(--pri-text-color);
  background-color: var(--primary-color);
  border: none;
  transition: all .4s ease-in-out;
}
.login-modal-content button.login-link-btn{
  background-color: var(--green-color);
}
.login-modal-content button:hover{
  transform: scale(1.08);
}

/* ********REG PAGE - login and signup & new product form****** */
.success-message{
  font-size: .8rem;
  color: var(--green-color);
}
.error-message{
  color: var(--secondary-color);
  font-size: .8rem;
}

.reg-page{
  justify-content: space-evenly;
  gap: 2rem;
  min-height: 60vh;
}
.new-product-page{
  min-height: 70vh;
}
 .reg-form{
  width: 40%;
  text-align: center;
}
 .reg-form form{
  width: 100%;
  flex-direction: column;
  gap: .5rem;
  padding: 10px 0;
}
 .reg-form .input-el{
  width: 80%;
  padding: 10px;
  background-color: transparent;
  border: 1px solid var(--grayish-color);
}
 .reg-form .input-el:focus{
  outline: none;
}
 .reg-form form .passwords{
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 7px;
  justify-content: space-between;
}
 .reg-form form div input{
  width: 45%;
}
 .reg-form input[type="submit"]{
  background-color: var(--primary-color);
  color: var(--pri-text-color);
  font-size: 1.1rem;
}
.new-product-page .reg-form .input-el{
  margin-bottom: 5px;
}
/* *********PROFILE PAGE******** */
.profile-page{
  min-height: 70vh;
}
.profile-page .profile-nav{
  width: 80vw;
  margin: 0 auto;
  flex-wrap: nowrap;
  justify-content: space-evenly;
} 
.profile-page .profile-nav .profile-nav-item{
  border: 1px solid var(--grayish-color);
  border-top: none;
  flex: 1;
  text-align: center;
  cursor: pointer;
}
.profile-page .profile-nav .active{
  background-color: var(--primary-color);
  color: var(--pri-text-color);
  cursor: pointer;
}
.profile-body{
  margin-top: 30px;
}
.profile-body .new-product-btn{
  margin: 7px;
  padding: 10px 5px;
  background-color: var(--green-color);
  color: var(--pri-text-color);
}




/* *********ERROR PAGE******** */

.error-page{
  width: 90vw;
  position: relative;
}
.error-page .error-message{
  position: absolute;
  top: 30%;
  left: 30%;
  font-size: 30px;
  
}
.error-page img{
  width: 100%;
  height: 80vh;
}

/* ******FOOTER***** */

footer{
  background-color: var(--sec-text-color);
  color: var(--pri-text-color);
  display: flex;
  flex-direction: column;
}
footer .faint{
  cursor: pointer;
  background: rgb(22, 22, 22);
  font-size: .7rem;
  padding: .4rem 0;
  gap: 0;
} 
footer .footer-links{
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  padding: 1.5rem;
}
footer .footer-links div{
  flex: 1;
  
}
footer a{
  text-decoration: none;
  color: var(--pri-text-color);
  display: block;
  padding: .4rem 0;
}
footer h3{
  font-weight: 300;
  color: #adadad;
}
footer .copyright{
  cursor: unset;
}
footer .copyright a{
  color: #d66c27;
}


/* animations */
@keyframes showcaseanime {
  0% {
    display: none;
    opacity: .3;
  }
  1%{
    display: flex;
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}

