@font-face {
    font-family: NetflixFont;
    src: url(NetflixSansRegular.ttf);
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: NetflixFont;
  }
  :root{
      /* --primary-color: #d66c27; */
      /* --primary-color: #3824e9; */
      --primary-color: #e92424;
      --secondary-color: #e00810;
      --pri-text-color: #f7f7f7;
      --sec-text-color: #000;
      --grayish-color: #adadad;
      --green-color: #09a609;
  }
  body{
    background-color: var(--pri-text-color);
    padding-top: 100px;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  a:active{
    text-decoration: none;
  }
  section h3{

    text-align: center;
  }
  .main-container{
    padding: 0 50px;
    margin-bottom: 2rem;
  }
  .flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hide{
    display: none;
  }
  .hide-for-small{
    display: none;
  }
  .pri-btn{
    background-color: var(--primary-color);
    color: var(--pri-text-color);
    padding: 4px 8px;
    font-weight: 400;
    font-size: 1.1rem;
    width: fit-content;
    border: none;
    cursor: pointer;
  }
  .sec-btn{
    background-color: var(--green-color);
    color: var(--pri-text-color);
    padding: 4px 8px;
    font-weight: 400;
    font-size: 1.1rem;
    width: fit-content;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-in-out
  }
  .rotate{
    transform: rotate(180deg);
  }
  .sec-btn:hover{
    transform: scale(1.05)
  }




/* *************MAIN-NAV*********** */
.cta-running-add{
    background-color: var(--primary-color);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    height: 30px;
    color: var(--pri-text-color);
    gap: 1rem;  
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.cta-running-add a{
  text-decoration: underline;
}


.main-nav{
  display: flex;
  height: 40px;
  padding: 0 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--sec-text-color);
  font-size: 1.2rem;
  border-bottom: 1px solid #e5e4e4;
  box-shadow: 0 0 2px  #adadad;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 1001;
  background-color: var(--pri-text-color);
}

.main-nav .main-logo{
  height: 100%;
}
.main-nav .main-logo img{
  height: 100%;
  background-color: var(--primary-color);
}
.main-nav .search-product{
  height: 100%;
}
.main-nav .search-product form{
  height: 100%;
  flex-wrap: nowrap;
  /* align-items: center; */

}
.main-nav .search-product input{
  height: 1.3rem;
  min-width: 200px;
  padding-left:10px;
  border: 1px solid #adadad;
}
.main-nav .search-product input:focus{
  outline: none;
}
.main-nav .search-product button{
  margin-left: 10px;
 background: none;
 border: none;
 height: 80%;
 transition: all .3s ease-in-out;
}
.main-nav .search-product button:hover{
  transform: scale(1.2);
}
.main-nav .nav-group{
  gap: 2rem;
  position: relative;
}
.main-nav .nav-group img{
  margin-right: 1rem;
}
.main-nav .nav-group .account{
  position: relative;

}

.main-nav .nav-group .account .account-dropdown{
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--pri-text-color);
  border: 1px solid var(--grayish-color);
  min-width: 150px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
.main-nav .nav-group .account .hide-a-d{
  display: none;
}
.main-nav .nav-group .nav-item:hover{
  color: #077507;
  /* font-size: 1rem; */
}
.main-nav .cart-container{
  position: relative;
  cursor: pointer;
}
.main-nav .cart-container .cart-count{
  position: absolute;
  top: -6px;
  right: -2px;
  background-color: var(--green-color);
  color: var(--pri-text-color);
  font-size: .8rem;
  /* width: .8rem; */
  padding: 3px;
  z-index: -1000;
  border-radius: 50%;
  text-align: center;
}
.main-nav .cart-container .cart{
  position: absolute;
  /* height: 300px; */
  background-color: var(--green-color);
  color: var(--pri-text-color);
  top: 100%;
  right: 100%;
  padding: 10px;
  min-width: 200px;
}
.main-nav .cart-container .cart form{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 5px;
}

.main-nav .cart-container .cart form .cart-item-name:hover{
  text-decoration: underline;
  
}


.main-nav .cart-container .checkout-btn{
  padding: 10px;
  text-align: center;
  background-color: var(--primary-color);
}
.main-nav .cart-container .checkout-btn:hover{
  background-color: #077507;
}




/* ************SHOWCASE ******** */
/* Index page */
.show-case{
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  gap: 20px;
  /* height: 50vh; */
}
.show-case .show-item{
  min-height: 300px;
  height: 50vh;  
}
.show-case .show-case-nav{
  background-color: white;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.show-case .show-case-nav li{
  list-style: none;
  padding-left: 2rem;
}
.show-case .show-case-nav li:hover{
  color: var(--primary-color);
}
.show-case-content{
  position: relative;
}
.show-case-content .slide{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: none;
  transition: all 0.5s ease-in-out;
}
.show-case-content .showing {
  display: flex;
  z-index: 1;
  transform: none;
  opacity: 1;
}
.show-case-content .slide img{
  height: 100%;
  width: 32%;
  object-fit:fill; 
}
.show-case-cta{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.show-case-cta a{
  background-color: var(--primary-color);
  color: var(--pri-text-color);
  width: 80%;
  text-decoration: none;
  display: flex;
  padding: 7px;
  transition: all .3s ease-in-out;
}
.show-case-cta a:hover{
  background-color: var(--green-color);
}
.show-case-cta a img{
  margin-right: .6rem;
  height: 1.33rem;
}




/* ************PRODUCTS******** */
.products{
  padding: .7rem;
  gap: 1.3rem;
  flex-direction: row !important; 
  justify-content: space-evenly;
  flex-wrap:wrap ;

  /* under con */
}
.products .product{
  position: relative;
  padding-bottom: 2px;
  flex-direction: column;
  /* width: 17%; */
  /* min-width: 200px; */
  /* ** */
  flex-basis: 150px;
  flex-grow: 1;
  max-width: 200px;
  /* ** */
  height: 300px;
  align-items: flex-start;
  transition: all .3s ease-in-out;
}
.products .product:hover{
 
  transform: scale(1.025);
}

.products .product .product-img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 170px;
  width: 100%;
}
.products .product .product-img img{
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.products .product .name{
  margin-top: 150px;
}
.products .product p{
  font-size: .9rem;
  padding: 0 5px;
}
.products .product .ratings{
  
  flex-direction: row;
  flex-wrap: nowrap;
  color: var(--grayish-color);
  justify-content: space-between;
}
.products .product .add-to-cart{
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--pri-text-color);
  width: 100%;
}
.products .product .add-to-cart-link input{
  width: 100%;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.products .product .add-to-cart:hover{
  background-color: var(--green-color);
}
.products .view-more-btn{
  flex-direction: row;

}
.products .view-more-btn a{
  text-decoration: none;
  text-align: center;
  color: var(--primary-color);
  transition: all .4s ease-in-out;
}
.products .view-more-btn a:hover{
  transform: scale(1.15);
  color: var(--green-color);
  /* background-color: var(--secondary-color); */
}
.products .load-more-btn{
  border: none;
  background-color: var(--primary-color);
  width: 100%;
  color: var(--pri-text-color);
  padding: 10px 0;
  font-size: 1.3rem;
}
.products .load-more-btn:hover{
  background-color: var(--green-color);
}


/* ********SINGLE PRODUCT PAGE */
.product-container{
  width: 80%;
  margin: 10px auto;
  min-height: 400px;
  border: 1px solid #adadad;
  padding: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  position: relative;
}

.product-container .product-title{
  text-align: center;
}
.product-container .product-gallery{
  gap: 1rem; 
  width: 60%; 
  height: 400px;
  position: relative;
}
.product-container .product-gallery .prev {
  position: absolute;
  background-color: rgba(53, 48, 48, 0.3);
  left: 0;
  width: 2rem;
  height: 2rem;
  text-align: center;
  cursor: pointer;
}
.product-container .product-gallery .next {
  position: absolute;
  background-color: rgba(53, 48, 48, 0.3);
  right: 0;
  width: 2rem;
  height: 2rem;
  text-align: center;
  cursor: pointer;
}
.product-container .product-gallery .next:hover,
.product-container .product-gallery .prev:hover{
  background-color: black;
  color: white;
}
.product-container .product-gallery .image-count {
  position: absolute;
  background-color: transparent;
  left: 10px;
  top: 10px;
  width: 2rem;
  height: 2rem;
  text-align: center;
  cursor: pointer;
}
.product-container .product-gallery .mySlides{
  width: 100%;
  height: 100%;
}
.product-container .product-gallery img{
  width: 100%;
  height: 100%;  
  object-fit: contain;
}
.product-container .product-specs{
  width: 70%;
  text-align: center;
  line-height: 1.2rem;
}
.product-container .add-to-cart{
  border: none;
  color: var(--pri-text-color);
  padding: 5px 10px;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.product-container .add-to-cart input{
  all: unset;
}
.product-container .add-to-cart:hover{
  background-color: var(--green-color);
}


/* ********LOgIN MODAL */
.login-modal{
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: rgba(0,0,0,0.6);
}
.login-modal-content{
  width: 50%;
  font-size: 1.2rem;
  text-align: center;
  margin: 20% auto;
  background-color: var(--pri-text-color);
  color: var(--sec-text-color);
  padding: 20px;
}
.login-modal-content button{
  margin: 20px;
  padding: 5px 10px;
  color: var(--pri-text-color);
  background-color: var(--primary-color);
  border: none;
  transition: all .4s ease-in-out;
}
.login-modal-content button.login-link-btn{
  background-color: var(--green-color);
}
.login-modal-content button:hover{
  transform: scale(1.08);
}

/* ********REG PAGE - login and signup & new product form****** */
.success-message{
  font-size: 1.15rem;
  color: var(--green-color);
}
.error-message{
  color: var(--secondary-color);
  font-size: 1.16rem;
}

.reg-page{
  justify-content: space-evenly;
  gap: 2rem;
  min-height: 60vh;
}
.new-product-page{
  min-height: 70vh;
}
 .reg-form{
  width: 50%;
  text-align: center;
}
 .reg-form form{
  width: 100%;
  flex-direction: column;
  gap: .5rem;
  padding: 10px 0;
}
 .reg-form .input-el{
  width: 80%;
  padding: 10px;
  background-color: transparent;
  border: 1px solid var(--grayish-color);
}
 .reg-form .input-el:focus{
  outline: none;
}
 .reg-form form .passwords{
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 7px;
  width: 85%;
  justify-content: space-between;
}
 .reg-form form div input{
  width: 45%;
}
 .reg-form input[type="submit"]{
  background-color: var(--primary-color);
  color: var(--pri-text-color);
  font-size: 1.1rem;
}
.reg-form input[type="submit"]:hover{
  background-color: var(--green-color);
}
.new-product-page .reg-form .input-el{
  margin-bottom: 5px;
}
/* ******CUSTOMER PAGES */
.customer-page{
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-content: start;
  gap: 20px;
  line-height: 1.8;
}
.customer-page select{
  font: inherit;
  padding: 5px 10px;
}
.customer-page option{
  font: inherit;
}
.customer-grid-item{
  background-color: white;
  min-height: 60vh;
  border-radius: 3px;
}
.customer-nav{
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.customer-nav a{
  padding: 20px;
  font-size: 1.2rem;
}
.customer-nav a:hover,
.customer-nav a.active{
  background-color: var(--pri-text-color);
}
.customer-grid-item .heading{
  padding: 20px;
  font-size: 1.3rem;
  border-bottom: 1px solid var(--grayish-color);
  display: flex;
  justify-content: space-between;
}
.customer-grid-item .heading button{
  all: unset;
  cursor: pointer;
}
.customer-grid-item .content-grid{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin: 10px 20px;
}
.customer-grid-item .content-grid .content-card{
  border: 1px solid var(--grayish-color);
  border-radius: 5px;
  width: 90%
}
.customer-grid-item .content-grid .content-card .card-body{
  display: flex;
  justify-content:start;
  gap: 20px;
  padding: 0 10px;
 
}

.customer-grid-item .content-grid .content-card .card-body .cart-img{
  height: 50px;
  width: 50px;
  
}
.customer-grid-item .content-grid .content-card .card-body .cart-img img{
  height:100%;
  width: 100%;
}
.customer-grid-item .content-grid .content-card .card-body input{
  all: unset;
}

/* CUSTOMER CART */
.customer-grid-item .content-grid .content-card .card-body input{
  /* padding: 5px; */
  width: 1.3rem;
  margin: 0 5px;
  font-size: 1rem;
}
.customer-grid-item .content-grid .content-card .card-body .flex{
  justify-content: start;
}
.customer-grid-item .content-grid .content-card .card-body .flex .pri-btn{
  padding: 0 5px;
}
.customer-grid-item .content-grid .content-card  .card-body .remove-cart-item{
  margin-left: auto;
}
.customer-grid-item .content-grid .content-card .card-body .coupon-input{
  cursor: pointer;
  width: 5rem;
  border: 1px solid var(--grayish-color);
}
.customer-grid-item .content-grid .content-card  .card-body .remove-cart-item button {
  all: unset;
  transition: all 0.3s ease-in-out;
}
.customer-grid-item .content-grid .content-card  .card-body .remove-cart-item button:hover{
  transform: rotate(30deg);
}

/**** CART SUMMARY */
.customer-grid-item .content-grid .cart-summary .heading{
  padding: 10px;
  color: var(--pri-text-color);
  background-color: var(--green-color);
}
.customer-grid-item .content-grid .cart-summary .card-body{
  display: block;
  padding-bottom: 20px;
}
.customer-grid-item .content-grid .cart-summary .card-body p{
  margin: 5px 0;
}
.customer-grid-item .content-grid .cart-summary .card-body .coupon-input{
  padding:5px;
  cursor: text;
}
.customer-grid-item .content-grid .cart-summary .card-body .proceed-to-chekout a:hover{
  background-color: green;
}
.customer-grid-item .content-grid .cart-summary .custom-clear-cart-btn{
  transition: all .3s ease-in-out;
}
.customer-grid-item .content-grid .cart-summary .custom-clear-cart-btn:hover{
  background-color:var(--primary-color)
}
/***** checkout page */
.checkout-body{
  margin: 30px;
  border: 1px solid var(--grayish-color);
  width: fit-content;
}

.checkout-body .checkout-title{
  color: var(--green-color);
  font-weight: 600;
  font-size: 1.5rem;
}
.checkout-body .checkout-option,
.checkout-body .payment-option{
  padding: 10px;
  border: 1px solid var(--grayish-color);
}
.checkout-body .checkout-option label{
  font-size: 1.2rem;
}
.checkout-body .checkout-option .title{
  padding: 20px 0;
  font-size: 25px;
}
.customer-account .content-grid .content-card .card-body{
  flex-direction: column;
}


/* **********ADMIN PANEL********* */
.admin-nav{
  justify-content: space-between;
  border-bottom: 1px solid var(--grayish-color);
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  padding: 20px;
}
.admin-nav a{
  font-weight: 300;
  font-size: 20px;
}
.admin-main{
  min-height: 70vh;
  margin: 0 100px;
}
.admin-main-nav{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.admin-nav-btn{
  width: 40%;
  background-color: transparent;
  font-size: 25px;
  border: 1px solid var(--grayish-color);
  border-top: none;
  margin-bottom: 10px;
}
.admin-nav-btn:hover,
.admin-nav-btn.active{
  background-color: var(--green-color);
  color: var(--pri-text-color);
}
.adm-btn{
  margin: 3px 0;
  width: max-content;
}

.admin-search-bar{
  justify-content: space-between;
  margin: 10px ;
}
.admin-search-bar input{
  padding: 5px;
  font-size: 1rem;
  min-width:300px ;
  border: 1px solid var(--grayish-color);
  background: transparent;
} 
.admin-search-bar input:focus{
  outline: none;
 
  border: 1px solid var(--green-color);
}
.admin-search-bar .pri-btn:hover{
  background-color: var(--green-color);
}

.hide-table{
  display: none;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
.stock-man-head th{
  cursor: pointer;
}

td, th {
  border: 1px solid var(--grayish-color);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #fff;
}

/* admin modals */
.modal{
  position: fixed;
}

/* *********ERROR PAGE******** */

.error-page{
  width: 90vw;
  position: relative;
}
.error-page .error-message{
  position: absolute;
  top: 30%;
  left: 30%;
  font-size: 30px;
  
}
.error-page img{
  width: 100%;
  height: 80vh;
}

/* ******FOOTER***** */

footer{
  background-color: var(--sec-text-color);
  color: var(--pri-text-color);
  display: flex;
  flex-direction: column;
}
footer .faint{
  cursor: pointer;
  background: rgb(22, 22, 22);
  font-size: .7rem;
  padding: .4rem 0;
  gap: 0;
} 
footer .footer-links{
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  padding: 1.5rem;
}
footer .footer-links div{
  flex: 1;
  
}
footer a{
  text-decoration: none;
  color: var(--pri-text-color);
  display: block;
  padding: .4rem 0;
}
footer h3{
  font-weight: 300;
  color: #adadad;
}
footer .copyright{
  cursor: unset;
}
footer .copyright a{
  color: var(--primary-color);
}


/* animations */
@keyframes showcaseanime {
  0% {
    display: none;
    opacity: .3;
  }
  1%{
    display: flex;
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* media queries */

@media only screen and (max-width: 768px) {
  .hide-for-tablet {
    display: none;
  }
  footer .footer-links{
    flex-direction:column;
    align-items:start;
    padding-left:40px
  }
}
@media only screen and (max-width: 576px) {
  .hide-for-mobile {
    display: none;
  }
  .main-nav .search-product input{
    min-width: 40px;
  }
  .products .product{
    max-width:none;
    /* width:30vw; */
  }
}
